body{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%);
    min-height: 1000px;
    display: flex;
    flex-direction: row;
}
.